section#form {
  @apply text-center;
  @apply mb-6;
  @apply sm:mb-10;
  @apply mx-auto;
  @apply text-white;
  
  
  .wrapper {
    @apply rounded-xl;
    @apply pt-8;
    @apply pb-4;
    @apply sm:pb-8;
    @apply bg-black;
    @apply sm:px-16;
    @apply sm:mx-20;

    .headline {
      @apply text-3xl;
      @apply uppercase;
      @apply mb-0;

      +p{
        @apply mx-auto;
        max-width: calc(100% - 60px);
      }
    }

    .form-wrapper {
      @apply mx-auto;
      max-width: calc(100% - 60px);
      @media(min-width:640px){
        max-width: 50vw;
      }

      form {
        @apply mt-8;
        @apply flex;
        @apply flex-wrap;

        >div {
          @apply mb-4;
          @apply flex;
          @apply flex-col;
          @apply w-full;
          @apply sm:w-1/2;

          &.full {
            @apply sm:w-full;
          }

          label {
            @apply normal-case;
            @apply font-normal;
            @apply text-left;
            @apply text-white;
            @apply text-base;
            @apply ml-2;
            @apply mb-0;


            span {
              @apply text-red-500;
            }
          }

          input,select {
            @apply mx-2;
            @apply rounded-lg;
            @apply bg-gray-300;
            @apply px-2;
            @apply py-1;

            &[type="submit"] {
              @apply text-black;
              @apply bg-orange-300;
              @apply hover:bg-orange-400;
              @apply w-48;
              @apply mx-auto;
              @apply mt-8;
              @apply py-3;
              @apply rounded-xl;
            }
          }
        }
      }
    }
  }
}