@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
  font-family: "Cormorant SC";
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/cormorantsc/v16/0yb5GD4kxqXBmOVLG30OGwsuqzAx1zX--A.woff2');
}

@font-face {
  font-family: "Cormorant SC";
  font-weight: 700;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/cormorantsc/v16/0ybmGD4kxqXBmOVLG30OGwsmEBUk-hfz0jCGGQ.woff2');
}


.flex {
  width: auto;
}
.site-header__logo img {
  max-width: 150px;
}
#StickNavWrapper {
  height: 59px;
}

.main-content {
  @apply mt-1;
}

.container {
  @apply max-w-7xl;
}

html {
  @apply overflow-x-hidden;
}