@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
  font-family: "Cormorant SC";
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/cormorantsc/v16/0yb5GD4kxqXBmOVLG30OGwsuqzAx1zX--A.woff2');
}

@font-face {
  font-family: "Cormorant SC";
  font-weight: 700;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/cormorantsc/v16/0ybmGD4kxqXBmOVLG30OGwsmEBUk-hfz0jCGGQ.woff2');
}


.flex {
  width: auto;
}
.site-header__logo img {
  max-width: 150px;
}
#StickNavWrapper {
  height: 59px;
}

.main-content {
  @apply mt-1;
}

.container {
  @apply max-w-7xl;
}

.page-width {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
@media only screen and (min-width: 750px) {
  .page-width {
    padding: 0 20px;
  }
}